.light-medium-contrast {
  --md-sys-color-primary: rgb(99 57 0);
  --md-sys-color-surface-tint: rgb(133 83 24);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(159 105 44);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(80 66 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(134 115 37);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 75 75);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(35 129 129);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(110 48 42);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(170 96 88);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(33 26 20);
  --md-sys-color-surface: rgb(255 248 245);
  --md-sys-color-on-surface: rgb(34 26 21);
  --md-sys-color-surface-variant: rgb(241 223 208);
  --md-sys-color-on-surface-variant: rgb(76 65 54);
  --md-sys-color-outline: rgb(106 93 81);
  --md-sys-color-outline-variant: rgb(134 120 108);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 41);
  --md-sys-color-inverse-on-surface: rgb(255 237 229);
  --md-sys-color-inverse-primary: rgb(252 185 117);
  --md-sys-color-primary-fixed: rgb(159 105 44);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(130 81 21);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(134 115 37);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(108 91 11);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(35 129 129);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(0 103 103);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(231 215 207);
  --md-sys-color-surface-bright: rgb(255 248 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 234);
  --md-sys-color-surface-container: rgb(252 235 226);
  --md-sys-color-surface-container-high: rgb(246 229 220);
  --md-sys-color-surface-container-highest: rgb(240 223 215);
}
